<%= form_for @article do |f| %>
 
  <% if @article.errors.any? %>
    <div id="error_explanation" class="text-danger">
      <h4><%= pluralize(@article.errors.count, "erreur empêche", "erreurs empêchent") %> cet article d'être enregistré:<h4>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <label for="titre" />Titre</label><br>
    <%= f.text_field :titre, class: "form-control"%>
  </p>
 
  <p>
    <label for="contenu" />Contenu</label><br>
    <%= f.text_area :contenu, class: "form-control" %>
  </p>
 
  <p>
    <%= f.submit "Enregister",  class: "btn btn-primary"%>
  </p>
 
<% end %>